let visitorCount = parseInt(localStorage.getItem("visitorCount")) || 0;
visitorCount++;
document.getElementById("visitorCount").textContent = visitorCount;
localStorage.setItem("visitorCount", visitorCount);

// Send a notification to Discord using a webhook
const webhookUrl = "https://discord.com/api/webhooks/1144977648532066375/6kfmreM9A2oalG5Nr8Mx8OOQZDZIceHpXhwtT93eHKskbdWl0Gy1Sn4IOrr2epCGhfFV";

fetch(webhookUrl, {
    method: "POST",
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
        content: `Someone visited your website! Visitor count: ${visitorCount}`
    })
});
